arena.vcxproj
*.ipch
.vs/arena/v14/.suo
.vs/arena/v15/.suo
.vs/arena/v15/Browse.VC.db
.vs/arena/v15/Browse.VC.opendb
arena.sdf
Debug/arena.Build.CppClean.log
*.exe
*.ilk
Debug/arena.pdb
Debug/arena.log
Debug/arena.tlog/arena.lastbuildstate
Debug/arena.tlog/link.command.1.tlog
Debug/arena.tlog/link.read.1.tlog
*.tlog
*.obj
*.idb
*.pdb
Debug/main.obj.enc
*.o

